<style>
    .textheader a {
        color: blue;
        text-decoration: none !important;
    }

    .textheader:hover a {
        color: red !important;
        cursor: pointer;
    }
    input{
        box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05) !important;
    }

    .select{
        box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05) !important;
    }
    a{
        text-decoration:none;
    }

    .icon_style{
        color:black;
    }

</style>

<div class="row m-auto" id="frm">
    <div class="card" style="flex-direction:row;">
        <div class="col-lg-12">
            <div class="card-header">
                <h3 class="card-title mb-0 fs-4" style="margin-top:1px">
                    <span>Particulars of @ViewBag.type Capital</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <input type="hidden" class="num" value="0" name="id" />
            <input type="hidden" class="num" value="0" name="companyId" />
            <input type="hidden" value="@ViewBag.type" name="type" />
            <div class="row auth">
                <div class="col-xs-12 col-sm-12 col-md-8 bold">
                    <i>The Authorized Capital of the company as per MCA data is Rs. 1,000,000. Kindly add bifurcation of the capital.</i>
                </div>
                <p></p>
                <p style="color:red;font-size: 14px;text-align: right;">
                    *Quick Hint: If you are making an entry for increment in authorized capital, enter the new shares added only.
                </p>
            </div>

            <div class="row">

                <div class="col-md-6 my-3 ">
                    <label class="form-label">Event Date</label>
                    <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="date" placeholder="" class="form-control" value="" name="eventDate">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md-6 my-3 ">
                </div>

                <br>
                <div class="row my-3" style="margin-bottom: 0px;">
                    <div class="col-xs-12 col-sm-2 col-md-2 bold">
                        Type
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 bold issued">
                        Rights
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 bold">
                        No. of shares
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 bold">
                        Nominal Value
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 bold">
                        Total amount
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 bold">
                        <span class="auth">Main </span>Class<span class="issued">, if any</span><span class="subscribed">, if any</span>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 bold auth">
                        Sub Class, (if any)
                    </div>
                </div>
                <div id="equity">
                    
                </div>
                <div class="row my-3">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <button type="button" class="btn btn-primary" onclick="addRow('equity')"><i class="fa fa-plus"></i>  Add More</button>
                        <button type="button" class="btn btn-danger" onclick="removeRow('equity')"><i class="fa fa-minus"></i>  Remove</button>
                    </div>
                </div>
                <br>
                <div id="preference">
                    
                </div>
                <div class="row my-3">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <button type="button" class="btn btn-primary" onclick="addRow('preference')"><i class="fa fa-plus"></i>  Add More</button>
                        <button type="button" class="btn btn-danger" onclick="removeRow('preference')"><i class="fa fa-minus"></i>  Remove</button>
                    </div>
                </div>

                <div class="col-md-6 my-3 auth">
                    <label class="form-label">Unclassified</label>
                    <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="number" placeholder="" class="form-control num dec" value="" name="unclassified">
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-md-6 my-3 ">
                    <label class="form-label">Total @ViewBag.type Capital</label>
                    <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="number" placeholder="" class="form-control num dec" value="" name="totalCapital" disabled>
                    <div class="invalid-feedback"></div>
                </div>
            </div>

            <div class="row auth">

                <label style="text-transform:uppercase; text-decoration:underline; font-weight:bolder;">
                    Details of the person to whom a director shall inform about attending the meeting through Electronic Mode
                </label>

                <div class="col-lg-12 my-3">
                    <label class="form-label">Do you want to incorporate this agenda in existing Board Meeting?</label>
                    &nbsp; &nbsp;
                    <input type="radio" name="incorporateAgenda" value="Yes" onchange="checkExistingBM(this)"> Yes &nbsp; &nbsp;
                    <input type="radio" name="incorporateAgenda" value="No" onchange="checkExistingBM(this)"> No
                </div>

                <div class="col-md-6 my-3 nebm">
                    <label class="form-label" for="meetingDate">Date of Meeting</label>
                    <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="date" class="form-control" id="meetingDate" name="meetingDate" >
                    <div class="invalid-feedback">Please select a valid date.</div>
                </div>

                <div class="col-md-6 my-3 nebm">
                    <label class="form-label" for="meetingTime">Time of Meeting</label>
                    <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="time" class="form-control" id="meetingTime" name="meetingTime" >
                    <div class="invalid-feedback">Please select a valid time.</div>
                </div>

                <div class="col-md-12 my-3 ebm" style="display:none">
                    <label class="form-label" for="existingMeeting">Select Existing Meeting</label>
                    <div class="col-xs-12 col-sm-12 col-md-12 form-row mt-1">
                        <select class="form-select" id="existingMeeting" name="existingMeeting" >
                            <option value="">Select Existing Meeting</option>
                            <option value="30/09/2022">30/09/2022</option>
                            <option value="30/09/2024">30/09/2024</option>
                            <option value="30/09/2023">30/09/2023</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 my-3">
                    <label class="form-label" for="authorizedSignatory">Name of the Authorized Signatory</label>
                    <select class="director form-select" id="authorizedSignatory" name="authorizedSignatory" >
                        <option value="">Select Director</option>
                        <option value="Mokshank Dilipbhai Savla">Mokshank Dilipbhai Savla (Director)</option>
                        <option value="Rakshit Dilip Savla">Rakshit Dilip Savla (Director)</option>
                    </select>
                    <div class="invalid-feedback">Please select a director.</div>
                </div>


                <label style="text-transform:uppercase; text-decoration:underline; font-weight:bolder;">
                    General Meeting for approving the increment of authorized capital
                </label>

                <div class="col-lg-12 my-3">
                    <label class="form-label">Type of Meeting?</label>
                    &nbsp; &nbsp;
                    <input type="radio" name="meetingType" value="AGM" onchange="checkMeetingType(this)"> AGM &nbsp; &nbsp;
                    <input type="radio" name="meetingType" value="EGM" onchange="checkMeetingType(this)"> EGM
                </div>

                <div class="col-lg-12 my-3">
                    <label class="form-label">Do you want to incorporate this agenda in existing General Meeting?</label>
                    &nbsp; &nbsp;
                    <input type="radio" name="incorporateAgendaGM" value="Yes" onchange="checkExistingGM(this)"> Yes &nbsp; &nbsp;
                    <input type="radio" name="incorporateAgendaGM" value="No" onchange="checkExistingGM(this)"> No
                </div>

                <div class="col-md-6 my-3 negm">
                    <label class="form-label" for="generalMeetingDate">Date of General Meeting</label>
                    <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="date" class="form-control" id="generalMeetingDate" name="generalMeetingDate" >
                    <div class="invalid-feedback">Please select a valid date.</div>
                </div>

                <div class="col-md-6 my-3 negm">
                    <label class="form-label" for="generalMeetingTime">Time of General Meeting</label>
                    <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="time" class="form-control" id="generalMeetingTime" name="generalMeetingTime" >
                    <div class="invalid-feedback">Please select a valid time.</div>
                </div>

                <div class="col-md-12 my-3 egm" style="display:none">
                    <div class="col-md-12 my-3 tagm">
                        <label class="form-label" for="existingAGM">Select Existing General AGM</label>
                        <div class="col-xs-12 col-sm-12 col-md-12 form-row mt-1">
                            <select class="form-select" id="existingAGM" name="existingAGM">
                                <option value="">Select Existing Meeting</option>
                                <option value="30/09/2022">30/09/2022</option>
                                <option value="30/09/2024">30/09/2024</option>
                                <option value="30/09/2023">30/09/2023</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 my-3 tegm" style="display:none">
                        <label class="form-label" for="existingEGM">Select Existing General EGM</label>
                        <div class="col-xs-12 col-sm-12 col-md-12 form-row mt-1">
                            <select class="form-select" id="existingEGM" name="existingEGM">
                                <option value="">Select Existing Meeting</option>
                                <option value="30/09/2022">30/09/2022</option>
                                <option value="30/09/2024">30/09/2024</option>
                                <option value="30/09/2023">30/09/2023</option>
                            </select>
                        </div>
                    </div>
                </div>
                

                <div class="col-lg-12 my-3">
                    <label class="form-label">Does the AOA contain a clause authorizing the increment in authorized share capital?</label>
                    &nbsp; &nbsp;
                    <input type="radio" name="aoaClause" value="Yes" onchange="checkAOAContain(this)"> Yes &nbsp; &nbsp;
                    <input type="radio" name="aoaClause" value="No" onchange="checkAOAContain(this)"> No
                </div>

                <p style="color:red;font-size: 14px; display:none" class="aoa">
                    The provisions of the Companies Act, 2013 require authorization in AOA for this transaction, please ensure to make necessary changes in the AOA.
                </p>

            </div>
        </div>
    </div>
    
    <div class="col-m-12 mt-3">
        <button class="btn btn-md btn-primary" style="float: right;" onclick="save(event)">Submit</button>
    </div>

</div>



@section Scripts {
    <script>
        var companyObj;
        var frm = {
            id: 0,
            companyId: 0,
            type:`@ViewBag.type`,
            eventDate:"",
            unclassified:0,
            totalCapital:0,


            incorporateAgenda: "", // Will be either 'yes' or 'no'
            meetingDate: "", // Date in format 'yyyy-mm-dd'
            meetingTime: "", // Time in format 'hh:mm'
            existingMeeting: "", // Value will be the selected meeting date
            authorizedSignatory: "", // Director's name


            meetingType: "",  // Will be either 'AGM' or 'EGM'
            incorporateAgendaGM: "",  // Will be either 'AGM' or 'EGM'
            generalMeetingDate: "",  // Date in format 'yyyy-mm-dd'
            generalMeetingTime: "",  // Time in format 'hh:mm'
            existingAGM: "",  // Selected AGM date
            existingEGM: "",  // Selected EGM date
            aoaClause: "",  // Will be either 'yes' or 'no'

    }
        


        var voFrm = {
            id: 'required',
            companyId: 'required',
        };

        var vfFrm = null;

        var childFrm = {
            id: 0,
            parentId: 0,
            shares:0,
            shareValue: 0,
            total: 0,
            class: "",
            subClass: "",
            rights: "",
        };


        $(document).ready(function () {

            $(".auth").toggle(`@ViewBag.type` == "Authorized");
            $(".issued").toggle(`@ViewBag.type` == "Issued");
            $(".subscribed").toggle(`@ViewBag.type` == "Subscribed");


            load()
            vfFrm = $('#frm').validate({ rules: voFrm, onsubmit: () => { console.log('submit') } })
        })

        function getData(){
            var obj = getObj(frm, '#frm');

            obj.equityList = $.makeArray($('#equity .equity')).map(d => getObj(childFrm, d));
            obj.preferenceList = $.makeArray($('#preference .preference')).map(d => getObj(childFrm, d));
            obj.companyId = localStorage.getItem("comp_id");
            obj.id = @ViewBag.id;
            obj.type = `@ViewBag.type`;
            return obj;
        }
        async function save(event) {
            event.preventDefault();

            // let isValid = true;
            // if (!vfFrm1.form()) isValid = false;

            // if (!isValid) return;

            var obj = getData();

            var x = await $._post(`@R.ApiUrl/@ViewBag.ctrl`, obj);
            if (x.status) {
                window.location = `@Url.Action("Capital", "Home")/@ViewBag.type`
            } else {
                swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: x.message
                })
            }

        }

        function load() {
            if (@ViewBag.id > 0) {
                $._get(`@R.ApiUrl/@ViewBag.ctrl/${@ViewBag.id}`).then(x => {
                    frm = x
                    setObj(x, "#frm")

                    if (x.equityList.length > 0) {
                        $('#equity .equity').remove()
                        x.equityList.forEach(function () {
                            addRow("equity")
                        });
                        $('#equity .equity').each(function (index) {
                            setObj(x.equityList[index], this);
                        });
                    }else{
                        $('#equity .equity').remove();
                        addRow('equity');
                    }
                    if (x.preferenceList.length > 0) {
                        $('#preference .preference').remove()
                        x.preferenceList.forEach(function () {
                            addRow("preference")
                        });
                        $('#preference .preference').each(function (index) {
                            setObj(x.preferenceList[index], this);
                        });
                    }else{
                        $('#preference .preference').remove();
                        addRow('preference');
                    }

                    $('input[type="number"]').on('input change', function () {
                        calculate();
                    });
                    calculate();
                })
            } else {
                addRow("equity")
                addRow("preference")

                $('input[type="number"]').on('input change', function () {
                    calculate();
                });
                calculate();
            }
            var company = localStorage.getItem("comp_id");
            if (company === null || company === undefined || company === "0") {
                alert("Please select Company")
                window.location = `@Url.Action("", "Home")/@ViewBag.ctrl/@ViewBag.type`
                return;
            }
            $._get(`@R.ApiUrl/Company/${company} `).then(x => {
                console.log(x.id)
                companyObj = x;
                $("[name='companyId']").val(x.id);
            })
        }

        function checkExistingBM(radio) {
            if (radio.value === "Yes" && radio.checked) {
                $(".ebm").show()
                $(".nebm").hide()
            }else{
                $(".nebm").show()
                $(".ebm").hide()
            }
        }
        function checkExistingGM(radio) {
            if (radio.value === "Yes" && radio.checked) {
                $(".egm").show()
                $(".negm").hide()
            }else{
                $(".negm").show()
                $(".egm").hide()
            }
        }
        function checkMeetingType(radio) {
            if (radio.value === "AGM" && radio.checked) {
                $(".tagm").show()
                $(".tegm").hide()
            }else{
                $(".tegm").show()
                $(".tagm").hide()
            }
        }
        function checkAOAContain(radio) {
            if (radio.value === "Yes" && radio.checked) {
                $(".aoa").hide()
            }else{
                $(".aoa").show()
            }
        }


        function addRow(type) {
            var a = "";
            var i = "";
            if (`@ViewBag.type` == "Authorized") {
                a=`
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <select class="form-select" name="subClass">
                            <option value="">Select Sub Class</option>
                            <option value="By Hand">By Hand</option>
                            <option value="Speed post">Speed post</option>
                        </select>
                    </div>
                `
            }
            if (`@ViewBag.type` == "Issued") {
                i=`
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <select class="form-select" ${type=='preference'?"disabled":""} name="rights">
                            <option value="">Select Rights</option>
                            <option>With Voting Rights</option>
                            <option>With Differential Voting Rights</option>
                        </select>
                    </div>
                `
            }
            const newRow = `
                <div class="row my-3 ${type}">
                    <input type="hidden" class="num" value="0" name="id" />
                    <input type="hidden" class="num" value="0" name="parentId" />

                    <div class="col-xs-12 col-sm-2 col-md-2 bold">
                        ${type[0].toUpperCase() + type.slice(1)}
                    </div>
                    ${i}
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <input type="number" class="form-control num dec" name="shares">
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <input type="number" class="form-control num dec" name="shareValue">
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <input type="number" class="form-control num dec" name="total" disabled>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <select class="form-select" name="class">
                            <option value="">Sekect Class</option>
                            <option value="By Hand">By Hand</option>
                            <option value="Speed post">Speed post</option>
                        </select>
                    </div>
                    ${a}
                </div>
            `;
            $('#'+type).append(newRow);

        }
        function removeRow(type) {
            const rowCount = $(`#${type} .${type}`).length;

            if (rowCount > 1) {
                $(`#${type} .${type}:last`).remove();
            } else {
                alert('At least one row must be present.');
            }

        }        

        function calculate() {
            var grandTotal = 0;
            $('.equity, .preference').each(function () {
                var shares = parseFloat($(this).find('input[name="shares"]').val()) || 0;
                var shareValue = parseFloat($(this).find('input[name="shareValue"]').val()) || 0;
                var total = shares * shareValue;
                grandTotal += total;
                $(this).find('input[name="total"]').val(total.toFixed(2));
            });
            grandTotal += parseFloat($('input[name="unclassified"]').val()) || 0;
            $('input[name="totalCapital"]').val(grandTotal.toFixed(2));
        }
    </script>

}